body {
  background-color: rgb(56, 53, 53);
  color: white;
}

.form-products {
  display: flex;
  flex-direction: column;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.msg-welcome {
  margin: auto;
}

.design-a {
  text-decoration: none;
  color: black;
  background-color: yellow;
}

.horizontal {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-design {
  background-color: rgb(97, 141, 10);
}

.options-design {
  margin-left: 10px;
  margin-right: 10px;
}