<h1>Lista de productos disponibles:</h1>
{{#each productsList}}
<div>
  <b>Producto</b>
  <ul>
    <li>Nombre: {{this.title}}</li>
    <li>Descripcion: {{this.description}}</li>
    <li>Precio: {{this.price}}</li>
  </ul>
  <button>Agregar al carrito</button>
</div>
{{/each}}