<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      {{#unless isNotSession}}
      <li class="options-design">
        <a href="http://localhost:8080/register">Register</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/login">Login</a>
      </li>
      {{else}}
      {{#if isUser}}
      <li class="options-design">
        <a href="http://localhost:8080/cart">Cart</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/prem">Premium</a>
      </li>
      {{else}}
      {{#if isPremium}}
      <li class="options-design">
        <a href="http://localhost:8080/cart">Cart</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/newProduct">New</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/updateProduct">Update</a>
      </li>
      {{else}}
      {{#if isAdmin}}
      <li class="options-design">
        <a href="http://localhost:8080/newProduct">New</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/updateProduct">Update</a>
      </li>
      {{/if}}
      {{/if}}
      {{/if}}
      {{/unless}}
    </ul>
  </nav>
</header>
<div class="msg-welcome">¡Bienvenido a mi e-commerce personal!</div>