<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/register">Register</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/login">Login</a>
      </li>
    </ul>
  </nav>
</header>

<h1 class="text-white">Iniciar sesión</h1>

<div class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-black bg-brand-color hover:bg-blue-400 focus:outline-none">
  <a href="/api/auth/github">Acceder al sitio con Github</a>
</div>

<form class="text-black" action="/login" method="POST">
  <input type="text" name="username" placeholder="Your username">
  <input type="password" name="password" placeholder="Your password">
  <input class="text-white" type="submit" value="Iniciar sesión">
</form>

<form class="text-white" action="/register" method="GET">
  <p>¿No estás registrado?</p>
  <input class="text-white" type="submit" value="¡Regístrate!">
</form>

<form class="text-white" action="/recoverPassword" method="GET">
  <p>¿Olvidaste tu contraseña?</p>
  <input class="text-white" type="submit" value="¡Recuperala aquí!">
</form>
