<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      <li class="options-design">
        <a href="">Cart</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/premium">Premium</a>
      </li>
    </ul>
  </nav>
</header>
<div>¿Quieres convertirte en un socio para la app? Toca el siguiente botón para ser un usuario PREMIUM y tener la posibilidad de crear tus productos y modificarlos a tu gusto</div>
<form action="/api/auth/prem" method="get">
  <input class="inline-flex items-center justify-center rounded-lg px-4 py-3 transition duration-500 ease-in-out text-black bg-brand-color hover:bg-blue-400 focus:outline-none" type="submit" value="¡Premium!">
</form>