<h1>¡Agrega un nuevo producto a la lista!</h1>
<form action="/products" method="post">
<label for="title">Nombre del producto:</label>
<input type="text" name="title"/>

<label for="description">Descripcion:</label>
<input type="text" name="description"/>

<label for="price">Precio:</label>
<input type="text" name="price"/>

<label for="thumbnail">Link de la imagen del producto:</label>
<input type="text" name="thumbnail"/>

<label for="code">Codigo de producto:</label>
<input type="text" name="code"/>

<label for="stock">Stock:</label>
<input type="text" name="stock"/>

<label for="category">Categoria del producto:</label>
<input type="text" name="category"/>

<input type="submit" value="Crear producto"/>
</form>