<h1>CAMBIO DE CONTRASEÑA</h1>
<p>Si olvidaste tu contraseña, puedes crear una nueva para volver a acceder
  al sitio con tu cuenta nuevamente. Para ello, necesitamos que coloque su correo 
  electrónico aquí para enviarle un mensaje de recuperación de contraseña</p>

<form class="text-black" action="/emailRecover" method="POST">
  <input type="text" name="email" placeholder="Your email">
  <input class="text-white" type="submit" value="Enviar">
</form>