<h1 class="text-white">Regístrese</h1>

<form class="text-black" action="/api/sessions/register" method="POST">
<input type="text" name="firstName" placeholder="Your name">
<input type="text" name="lastName" placeholder="Your last name">
<input type="email" name="email" placeholder="Your email">
<input type="text" name="age" placeholder="Your age">
<input type="text" name="password" placeholder="Your password">
<input class="text-white" type="submit" value="Registrarse">
</form>