<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/register">Register</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/login">Login</a>
      </li>
    </ul>
  </nav>
</header>

<h1 class="text-white">Regístrese</h1>

<form class="text-black" action="/register" method="POST">
<input type="text" name="firstName" placeholder="Your name">
<input type="text" name="lastName" placeholder="Your last name">
<input type="text" name="username" placeholder="Your username">
<input type="email" name="email" placeholder="Your email">
<input type="text" name="age" placeholder="Your age">
<input type="text" name="password" placeholder="Your password">
<input class="text-white" type="submit" value="Registrarse">
</form>