<header>
  <nav class="navbar navbar-design">
    <div class="options-design">
      <a href="http://localhost:8080">Index</a>
    </div>
    <ul class="horizontal">
      <li class="options-design">
        <a href="http://localhost:8080/products">Products</a>
      </li>
      {{#if isPremium}}
      <li class="options-design">
        <a href="http://localhost:8080/cart">Cart</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/newProduct">New</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/updateProduct">Update</a>
      </li>
      {{#if isAdmin}}
      <li class="options-design">
        <a href="http://localhost:8080/newProduct">New</a>
      </li>
      <li class="options-design">
        <a href="http://localhost:8080/updateProduct">Update</a>
      </li>
      {{/if}}
      {{/if}}
    </ul>
  </nav>
</header>

<h1>Aqui se actualiza el producto</h1>